@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0A192F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0A192F;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}